<h1>Genes</h1>

<table>
  <tr>
    <th>Taxonomy</th>
    <th>Symbol</th>
    <th>Name</th>
    <th>Chromosome</th>
    <th>Map location</th>
  </tr>

<% @genes.each do |gene| %>
  <tr>
    <td><%= gene.taxonomy.scientific_name %></td>
    <td><%= gene.symbol %></td>
    <td><%= gene.name %></td>
    <td><%= gene.chromosome %></td>
    <td><%= gene.map_location %></td>
  </tr>
<% end %>
</table>