<div id="genes">
<h1>Genes</h1>
<div class="dashboard">
  <ul>
    <li>
      <span class="value"><%= number_with_delimiter(Gene.count) %></span>
      <span class="item">Genes</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(Taxonomy.count) %></span>
      <span class="item">Species</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(Article.count) %></span>
      <span class="item">Articles</span>
    </li>
  </ul>
</div>
<%= pagination() %>

<%= species_tab2() %>
<table>
  <tr>
    <th>No</th>
    <th>Species</th>
    <th>Symbol</th>
    <th>Name</th>
    <th>Articles</th>
  </tr>

<% @genes.each do |gene| %>
  <tr>
    <td class="number"><%= @genes.index(gene) + @offset + 1 %></td>
    <td class="nowrap"><%= gene.taxonomy.scientific_name %></td>
    <td><%= link_to(gene.symbol, gene_path(gene)) %></td>
    <td><%= link_to(gene.name, gene_path(gene)) %></td>
    <td class="number"><%= link_to(number_with_delimiter(gene.articles_count), "http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&DbFrom=gene&Cmd=Link&LinkName=gene_pubmed&LinkReadableName=PubMed&IdsFromResult=#{gene.id}", :target => "_blank") %></td>
  </tr>
<% end %>
</table>

<%= pagination() %>
</div>