<h1><%= @gene.name %></h1>
<div class="dashboard">
  <ul>
    <li>
      <span class="value"><%= @gene.symbol %></span>
      <span class="item">symbol</span>
    </li>
    <li>
      <span class="value"><%= @gene.species %></span>
      <span class="item">Species</span>
    </li>    
    <li>
      <span class="value"><%= @gene.chromosome %></span>
      <span class="item">Chromosome</span>
    </li>
    <li>
      <span class="value"><%= @gene.map_location %></span>
      <span class="item">Map Location</span>
    </li>
    <li>
      <span class="value"><%= link_to(@gene.id, @gene.entrez_link, :target => "_blank") %></span>
      <span class="item">Entrez GeneID</span>
    </li>
    <li>
      <span class="value"><%= link_to(number_with_delimiter(@gene.articles_count), @gene.pubmed_link, :target => "_blank") %></span>
      <span class="item">Articles</span>
    </li>
  </ul>
</div>

<% if @gene.gos.size > 0 %>
<div id="gos">
  <h2>Gene Ontology</h2>
  <%= gene_ontologies(@gene) %>

</div>
<% end %>

<div id="subjects">
  <h2>Top Subjects</h2>
  <table>
    <tr>
      <th colspan="2">Subject</th>
      <th>Articles</th>
    </tr>
    <% @gene.gene_subjects.each do |s| %>
    <tr>
      <td><%= s.subject.term %></td>
      <td><%= semantic_groups(s.subject) %></td>
      <td class="number"><%= number_with_delimiter(s.articles_count) %></td>
    </tr>
    <% end %>
  </table>
</div>

<% if @gene.reviewed_genes.size > 0 %>
<div id="reviews">
<h2>Reviews</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Articles</th>
  </tr>
<% for r in @gene.reviewed_genes %>
  <tr>
    <td><%= link_to(r.review.title, review_path(r.review)) %></td>
    <td class="number"><%= number_with_delimiter(r.articles_count)%></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
<% if @gene.homologs.size > 0 %>
<div id="homologs">
  <h2>Homologs from <%= link_to("NCBI HomoloGene", "http://www.ncbi.nlm.nih.gov/homologene/#{@gene.homologene.homolog_id}", :target => "_blank")%></h2>
  <table>
    <tr>
      <th>Species</th>
      <th>Gene</th>
      <th>Reviews</th>
    </tr>
<% for h in @gene.homologs %>
    <tr>
      <td><%= h.taxonomy.scientific_name %></td>
      <td><%= link_to(h.symbol, gene_path(h), :title => h.name)%></td>
      <td><% if h.reviewed_genes.size > 0 %><%= h.reviewed_genes.map {|hr| link_to(hr.review.title, review_path(hr.review)) + " (#{pluralize(hr.articles_count, "article")})"}.join("<br>\n").html_safe %><% end %></td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>