<h1><%= @gene.to_s %></h1>
<ul>
  <li>Name: <%= @gene.name %> (<%= link_to("Entrez Gene record", "http://www.ncbi.nlm.nih.gov/gene/" + @gene.id.to_s, :target => "_blank")%>)</li>
  <li>Chromosome: <%= @gene.chromosome %></li>
  <li>Map location: <%= @gene.map_location %></li>
  <li><%= link_to(pluralize(@gene.articles_count, "article") + " in PubMed", "http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&DbFrom=gene&Cmd=Link&LinkName=gene_pubmed&LinkReadableName=PubMed&IdsFromResult=#{@gene.id}", :target => "_blank") %></li>
</ul>

<div id="reviews">
<h2>Reviews</h2>
<ul>
<% for r in @gene.reviewed_genes %>
  <li><%= link_to(r.review.title, review_path(r.review)) %> (<%= pluralize(r.articles_count, "article")%> / <%= pluralize(@gene.articles_count, "PubMed article") %>)</li>
<% end %>
</ul>
</div>
<% if @gene.homologs.size > 0 %>
<div id="homologs">
  <h2>Homologs from <%= link_to("NCBI HomoloGene", "http://www.ncbi.nlm.nih.gov/homologene/#{@gene.homologene.homolog_id}", :target => "_blank")%></h2>
  <ul>
<% for h in @gene.homologs %>
    <li><%= link_to(h.to_s, gene_path(h), :class => "gene", :title => h.name) %><% if h.reviewed_genes.size > 0 %> in <%= h.reviewed_genes.map {|hr| link_to(hr.review.title, review_path(hr.review)) + " (#{pluralize(hr.articles_count, "article")})"}.join(", ").html_safe %><% end %></li>
  <% end %>
  </ul>
</div>
<% end %>