<h1>Real-Time Review on Genes</h1>
<%= render 'form' %>
<div class="dashboard">
  <ul>
    <li>
      <span class="value"><%= link_to(number_with_delimiter(Gene.count), genes_path) %></span>
      <span class="item">Genes</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(Taxonomy.count) %></span>
      <span class="item">Species</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(Article.count) %></span>
      <span class="item">Articles</span>
    </li>
  </ul>
</div>
</div>
<div class="yui-g">
  <div class="yui-u first">
    <%= review_list(Review.built.limit(20), "Recent Reviews")%>
    <%= review_list(Review.inprocess, "In-process Reviews")%>
	</div>
  <div class="yui-u">
    <%= review_list(Review.popular.limit(20), "Popular Reviews")%>
  </div>
