<h1><%= @review.title %></h1>
<% if @review.built? %>
<ul>
  <li>PubMed Search: <%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %> (<%= pluralize(number_with_delimiter(@review.search_results_count), "result") %> on <%= @review.created_at.to_date %>)</li>
  <li><%= pluralize(number_with_delimiter(@review.genes_count), "gene") %> in <%= pluralize(number_with_delimiter(@review.articles_count), "article") %>
    <ul>
    <% @review.reviewed_genes.joins(:taxonomy).group("taxonomies.scientific_name").order("count_gene_id desc").count(:gene_id).each do |species, genes| %>
      <li><%= species %>: <%= pluralize(genes, "gene") %></li>
    <% end %>
    </ul>    
  </li>
</ul>

<%= pagination() %>

<table>
  <tr>
    <th>No</th>
    <th>Gene</th>
    <th>Chr</th>
    <th>Map Location</th>
    <th>Articles</th>
    <th colspan="2">Articles on Homologs</th>
    <th>Specificity<%= help("(number of articles in this review) / (total number of articles in PubMed) x 100")%></th>
  </tr>
<% @reviewed_genes.each do |rg| %>
  <tr>
    <td><%= @reviewed_genes.index(rg) + @offset + 1 %></td>
    <td><%= link_to(rg.gene.to_s, gene_path(rg.gene), :class => "gene", :title => rg.gene.name) %></td>
    <td><%= rg.gene.chromosome %></td>
    <td class="nowrap"><%= rg.gene.map_location %></td>
    <td class="nowrap number"><%= link_to(number_with_delimiter(rg.articles_count), "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + rg.article_id_list.map {|pmid| "#{pmid}[uid]"}.join("+OR+"), :target => "_blank") %></td>
    <td class="number"><% if ReviewedGene.homologs(@review, rg.gene).sum(:articles_count) > 0 %><%= ReviewedGene.homologs(@review, rg.gene).sum(:articles_count) %><% end %></td>
    <td><%= ReviewedGene.homologs(@review, rg.gene).includes(:gene => :taxonomy).map {|h| link_to(h.gene.to_s + ": #{h.articles_count}", gene_path(h.gene), :class => "gene", :title => h.gene.name)}.join(", ").html_safe %></td>
    <td class="number"><%= sprintf("%.1f", rg.articles_count.to_f / rg.gene.articles_count.to_f * 100) %>%</td>
  </tr>
<% end %>
</table>

<%= pagination() %>

<% else %>
<h2>Please reload or come back to this page a little bit later.</h2>
<ul>
  <% if @review.search_results_count == 0 %>
  <li>We will run PubMed search <%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %>  and import them for analysis soon.</li>
  <% else %>
  <li>Looking for genes in <%= pluralize(number_with_delimiter(@review.search_results_count), "article") %> for <%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %> PubMed search.</li>
  <% end %>
  <li>This review has been in the writing from for <%= time_ago_in_words(@review.created_at, true) %>.</li>
  <li><%= pluralize(Review.inprocess.count, "review")%> waiting in the writing room.</li>
</ul>
<% end %>