<h1><%= @review.title %></h1>
<% if @review.built? %>
<div class="dashboard">
  <ul>
    <li>
      <span class="value"><%= number_with_delimiter(@review.genes_count) %></span>
      <span class="item">Genes</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(@review.reviewed_genes.count("DISTINCT(taxonomy_id)")) %></span>
      <span class="item">Species</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(@review.articles_count) %></span>
      <span class="item">Articles</span>
    </li>
    <li>
      <span class="value"><%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %></span>
      <span class="item">PubMed Search</span>
    </li>
    <li>
      <span class="value"><%= @review.created_at.to_date %></span>
      <span class="item">Created</span>
    </li>
    <li>
      <span class="value"><%= number_with_delimiter(@review.hits) %></span>
      <span class="item">Hits</span>
    </li>
    <li>
      <span class="value"><%= link_to("TXT", review_path(@review, :format => :txt))%></span>
      <span class="item">Download</span>
    </li>
  </ul>
</div>

<div id="reviewed_genes">
<%= pagination() %>

<%= species_tab(@review)%>

<table>
  <tr>
    <th>No</th>
    <th>Gene</th>
    <th>Chr</th>
    <th>Map Location</th>
    <th><%= sort_heading("articles")%></th>
    <th colspan="2">Articles on Homologs</th>
    <th><%= sort_heading("specificity")%> <%= help("(number of articles in this review) / (total number of articles in PubMed) x 100")%></th>
  </tr>
<% @reviewed_genes.each do |rg| %>
  <tr>
    <td class="number"><%= number_with_delimiter(@reviewed_genes.index(rg) + @offset + 1) %></td>
    <td><%= link_to(rg.gene.to_s, gene_path(rg.gene), :class => "gene", :title => rg.gene.name) %></td>
    <td class="number"><%= rg.gene.chromosome %></td>
    <td class="nowrap"><%= rg.gene.map_location %></td>
    <td class="nowrap number <%= sort_column?("articles") %>"><%= link_to(number_with_delimiter(rg.articles_count), "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + rg.article_id_list.map {|pmid| "#{pmid}[uid]"}.join("+OR+"), :target => "_blank") %></td>
    <td class="number"><%= ReviewedGene.homologs(@review, rg.gene).sum(:articles_count) %></td>
    <td><%= ReviewedGene.homologs(@review, rg.gene).map {|r| link_to(r.gene.to_s + ": #{r.articles_count}", gene_path(r.gene), :class => "gene", :title => r.gene.name)}.join(", ").html_safe %></td>
    <td class="number <%= sort_column?("specificity") %>"><%= sprintf("%d", rg.specificity) %>%</td>
  </tr>
<% end %>
</table>

<%= pagination() %>
</div>

<div id="gos">
<h2>Gene Ontology</h2>
<% cache do %>
<%= gene_ontologies(@review, 15) %>
<% end %>
</div>

<% else %>
<h2>Please reload or come back to this page a little bit later.</h2>
<ul>
  <% if @review.search_results_count == 0 %>
  <li>We will run PubMed search <%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %>  and import them for analysis soon.</li>
  <% else %>
  <li>Looking for genes in <%= pluralize(number_with_delimiter(@review.search_results_count), "article") %> for <%= link_to(@review.search_term, "http://www.ncbi.nlm.nih.gov/pubmed/?term=" + u(@review.search_term), :target => "_blank") %> PubMed search.</li>
  <% end %>
  <li>This review has been in the writing room from for <%= time_ago_in_words(@review.created_at, true) %>.</li>
  <li><%= pluralize(Review.inprocess.count, "review")%> waiting in the writing room.</li>
</ul>
<% end %>