<!DOCTYPE html>
<html>
<head>
  <title>Medvane Genes: Real-Time Review on Genes</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.1/build/reset-fonts-grids/reset-fonts-grids.css&2.8.1/build/base/base-min.css">
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.1/tiny/jquery.tools.min.js"></script>
  <%= javascript_include_tag "rails", "application" %>
  <%= csrf_meta_tag %>
<% if Rails.env == "production" and ENV['GOOGLE_ANALYTICS_UA'].present? %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17050388-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<% end %>
</head>
<body>
<div id="doc4" class="yui-t7">
<div id="hd" role="banner">
  <ul id="navigation">
    <li><%= link_to(image_tag("medvane.genes-176x24.gif"), root_path) %></li>
    <li><%= link_to_unless_current("Home", root_path)%></li>
    <li><%= link_to_unless_current("Genes", genes_path)%></li>
    <li><%= link_to_unless_current("About", about_path)%></li>
  </ul>
</div><!-- #hd -->
<div id="bd" role="main">
	<div class="yui-g">
    <div class="notice"><%= notice %></div>
    <%= yield %>
	</div>

</div><!-- #bd -->
<div id="ft" role="contentinfo">

</div><!-- #ft -->
</div><!-- #doc4 .yui-t7 -->
</body>
</html>
